body {
    background-color: #202020;
    color: #404040;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body.screen {
    background-color: #000;
    color: #FFF;
}

body.screen > div#content {
    font-size: 36px;
}

body.screen > div#content.song {
    font-size: 96px;
    text-align: center;
}

body.screen > div#content.song > span.next {
    color: #808080
}

textarea, select, input, button { outline: none; }

h2 {
    margin: .5em;
    padding: .5em;

    color: #80F0F0;
    border-bottom: solid 2px #205890;

    box-sizing: border-box;

    z-index: 5;
}

div#header {
    position: fixed;
    
    background-color: #70E0E0;
    color: #404040;

    top: 0;
    left: 0;
    width: 100%;
    height: 4.5em;

    box-sizing: border-box;

    border-bottom: solid 4px #40B0B0;
}

div#header > div#title {
    font-size: 2em;
    padding: .5em;
}

div#menu {
    position: fixed;
    
    background-color: #303030;
    color: #E0C0A0;

    top: 4.5em;
    left: 0;
    width: 320px;
    bottom: 0;

    box-sizing: border-box;
}

div#menu h1 {
    padding-left: .5em;
    line-height: 1em;
    margin-bottom: 0;
}

div#menu a {
    display: block;
    position: relative;

    top: 0;
    left: 0;

    margin: 0;

    padding: .5em;
    padding-left: 1em;

    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.2);
    color: #E0C0A0;

    text-decoration: none;
}

div#menu a:hover {
    box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.5);
    color: #F0E0C0;
}

div#body {
    position: fixed;

    top: 4.5em;
    left: 320px;
    bottom: 0;
    right: 0;

    overflow: auto;
}

div#body div.speech {
    position: relative;

    box-sizing: border-box;

    top: 0;
    left: 0;
    width: calc(100% - 4px);
    height: auto;
}

div#body div.speech > div.character,
div#body div.speech > div.character-ext {
    position: absolute;

    box-sizing: border-box;

    top: 0;
    left: 0;
    width: 12em;
    height: 100%;

    padding: 2px;

    text-align: right;

    color: #F0E0D0;

    font-weight: bold;
}

div.character-ext {
    font-style: italic;
}

div#body div.speech > div.text {
    position: relative;

    box-sizing: border-box;

    top: 0;
    left: 12em;
    width: calc(100% - 13em);

    margin: .5em;
    padding: .5em;
    padding-left: calc(.5em + 15px);

    background: -webkit-linear-gradient(top, #E0E0E0, #A0A0A0);

    clip-path: polygon(2px 0, 15px 15px, 15px 100%, 100% 100%, 100% 0);
    clip-path: polygon(8px 0, 8px 5px, 0 13px, 8px 21px, 8px 100%, 100% 100%, 100% 0);
}

/*div#body div.speech > div.text::before {
    content: attr(name);

    position: absolute;

    top: 0;
    left: -1em;
    color: #fff;
}

div#body div.speech > div.text:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid -webkit-linear-gradient(top, #80F0F0, #40B0B0);
    border-top: 15px solid -webkit-linear-gradient(top, #80F0F0, #40B0B0);
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;

    z-index: -1;
}*/

div#body div.act {
    position: relative;

    box-sizing: border-box;

    top: 0;
    left: 0;
    width: calc(100% - 4px - 1em);
    height: auto;

    margin: .5em;
    padding: .5em;

    background: -webkit-linear-gradient(top, #80F0F0, #40B0B0);
}

div#body div.rem {
    position: relative;

    box-sizing: border-box;

    top: 0;
    left: 0;
    width: calc(100% - 4px - 1em);
    height: auto;

    margin: .5em;
    padding: .5em;

    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    color: #808080;
}

div#body div.audio {
    position: relative;

    box-sizing: border-box;

    top: 0;
    left: 0;
    width: calc(100% - 4px - 1em);
    height: auto;

    margin: .5em;
    padding: .5em;

    background: -webkit-linear-gradient(top, #E08000, #C06000);
    color: #802800;

    font-weight: bold;
}

div#body div.audio > img {
    filter: drop-shadow(0px 0px 2px #000);
}

div#body div.audio > img:hover {
    filter: drop-shadow(0px 0px 2px #000) brightness(130%);
}

div#body div.audio h4 {
    display: inline;

    line-height: 1em;

    font-size: 1.2em;
}

div#body div.audio button {
    width: 32px;
    height: 32px;

    padding: 0;
}

div#body div.audio input[type="number"] {
    width: 80px;
    height: 32px;

    padding: 0;
    margin: 0;
    margin-left: 4px;

    vertical-align: top;

    text-align: right;

    font-size: .8em;
}

div#body div.audio input.volume {
    width: 128px;
    height: 32px;

    padding: 0;
    margin: 0;
    margin-left: 4px;
    margin-right: 8px;

    -webkit-appearance: none;
    appearance: none;
    vertical-align: top;

    background: linear-gradient(to right, #000000, #00FF00);

    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

div#body div.audio input.volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;

    width: 4px; /* Set a specific slider handle width */
    height: 32px; /* Slider handle height */

    background: #FFFF00; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

div#body div.audio input.time {
    width: 128px;
    height: 32px;

    padding: 0;
    margin: 0;
    margin-left: 4px;
    margin-right: 8px;

    -webkit-appearance: none;
    appearance: none;
    vertical-align: top;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0) 40%, #C00000 50%, rgba(0, 0, 0, 0.0) 60%, rgba(0, 0, 0, 0) 100%);
}

div#body div.audio input.time::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;

    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */

    background: #FF4040; /* Green background */
    cursor: pointer; /* Cursor on hover */

    clip-path: ellipse(50% at 50% 50%);
}

div#body span.act,
div#body span.act::before,
div#body span.act::after {
    color: rgba(127, 0, 0, 0.4);
    font-style: italic;
}

div#body span.act::before {
    content: '(';
}

div#body span.act::after {
    content: ')';
}

div#body span.rem {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
}

div#body span.rem::before {
    content: '(';

    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
}

div#body span.rem::after {
    content: ')';
    
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
}

div#loading-screen {
    display: flex;

    position: fixed;

    top: 4.5em;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.3);

    justify-content: center;
    align-items: center;

    transition: background-color 0.5s ease;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    overflow: auto;
}

div#loading-screen > div {
    position: absolute;

    top: 50%;
    left: 50%;
    width: 50%;

    box-sizing: border-box;

    transform: translate(-50%, -50%);

    background-color: #F0F0E0;

    border: solid 1px #E0D0C0;
    border-radius: 8px;

    padding: 1em;
}

div#loading-screen > div > h1 {
    line-height: .5em;
}

div#screen-window {
    display: flex;

    position: fixed;

    top: 4.5em;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.3);

    justify-content: center;
    align-items: center;

    transition: background-color 0.5s ease;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    overflow: auto;
}

div#screen-window > div {
    position: absolute;

    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;

    box-sizing: border-box;

    transform: translate(-50%, calc(-50% - .5px));

    background-color: #F0F0E0;

    border: solid 1px #E0D0C0;
    border-radius: 8px;

    padding: 1em;
}

div#screen-window > div > h1 {
    line-height: .5em;
}

div#screen-window table {
    width: 100%;
    height: 82%;

    border-collapse: collapse;
    table-layout: fixed;
}

div#screen-window table th,
div#screen-window table td {
    border: solid 1px #706860;

    vertical-align: top;
}

div#screen-window table td div {
    height: 32em;

    overflow: auto;
}

div#screen-window table th {
    font-size: 1.2em;
}

div#screen-window table th:not(:last-child) {
    width: 20%;
}

div#screen-window table td textarea {
    width: 100%;
    height: 38em;
}

div#screen-window a {
    display: block;
    position: relative;

    top: 0;
    left: 0;

    margin: 0;

    padding: .5em;
    padding-left: 1em;

    box-sizing: border-box;

    /* background-color: rgba(0, 0, 0, 0.2); */
    color: #000000;

    text-decoration: none;
}

div#screen-window a:hover {
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
    color: #808080;
}

div#screen-window a.disabled {
    box-shadow: inset 0 0 2px 0 rgba(128, 128, 128, 0.2);
    color: #C0C0C0;
}

div#screen-window span.label,
div#screen-window span.static {
    display: block;
    position: relative;

    top: 0;
    left: 0;

    margin: 0;

    padding: .5em;
    padding-left: 1em;

    box-sizing: border-box;

    /* background-color: rgba(0, 0, 0, 0.2); */
    color: #000000;

    text-decoration: none;
}

div#screen-window span.label {
    font-weight: bold;
}

.progress-bar {
    position: relative;

    background-color: #202020;

    height: 25px;
    width: calc(100% - 10px);

    padding: 5px;
    margin: 30px 0;

    border-radius: 5px;

    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar::after {
    content: attr(name);

    display: block;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-top: 7px;

    text-align: center;

    border-radius: 3px;

    color: #E0E0E0;
}

.progress-bar span {
    display: inline-block;

    height: 100%;

    border-radius: 3px;

    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

    transition: width .4s ease-in-out;    

    background-color: #80D080;
    background: -webkit-linear-gradient(top, #80D080, #409040);
}

.shine span.bar {
    position: relative;
}

.shine span.bar::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}